<!DOCTYPE html>
<html ng-app="modPeople">
	<head>
		<title>User Profile</title>
		<link rel='stylesheet' href='main.css'/>
		<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js'></script>
		<script type='text/javascript' src='main.js'></script>
	</head>
	<body ng-controller="peopleRoller">
		<h1 class="header">User Profile</h1>
		<img class="profpic" width="100px" height="150px" src="http://www.mapleleaffarms.com/lib/sitefiles/White-Duck_Facing_Front.jpg"/>
		<h2 class="header">Objectives</h2>
		<div class="content-switch">
			<p class="content" ng-show="showText1" ng-click="clickText($event, 'first')" ng-bind="currentText1"></p>
			<input class="content-input" ng-show="showInput1" ng-model="newText1">
			<input type="submit" ng-click="switchDisplay($event, 'first')" ng-show="showInput1">
		</div>
		<h2 class="header">Skillz</h2>
		<div class="content-switch">
			<p class="content" ng-show="showText2" ng-click="clickText($event, 'second')" ng-bind="currentText2"></p>
			<input class="content-input" ng-show="showInput2" ng-model="newText2">
			<input type="submit" ng-click="switchDisplay($event, 'second')" ng-show="showInput2">
		</div>
		<h2 class="header">Life Motto</h2>
		<div class="content-switch">
			<p class="content" ng-show="showText3" ng-click="clickText($event, 'third')" ng-bind="currentText3"></p>
			<input class="content-input" ng-show="showInput3" ng-model="newText3">
			<input type="submit" ng-click="switchDisplay($event, 'third')" ng-show="showInput3">
		</div>
	</body>
</html>